$color-blue: #0011fa;
$color-yellow: #ecbf46;
$color-light-gray: #f8f8f8;
$color-dark-gray: #c8c8c8;
$color-gray: #f5f5f5;
$color-white: #ffffff;

#upper-logo, #main-nav, #mobile-nav-container, #mobile-nav #mobile-nav-menu-button, #footer-wrapper  {
  width: 100%;
  text-align: center;
}
.logo a {
  color: $color-blue;
  font-family: 'Stoke', serif;
  font-weight: bold;
}
.page-borders-thick #main-nav ul>li>a {
    border-bottom-width: 2px;
}

.page-collection a {
  color: $color-blue;
}

.page-collection.active-page a {
  color: $color-yellow;
  border-bottom: 1px solid $color-yellow;
}

// Site navigation
//// Main navigation
#main-nav-container {
  border-bottom: 1px solid $color-yellow;
  line-height: 0.1em;
  margin: 30px 0;
  width: 100%;
  text-align: center;
}
#main-nav {
  color: $color-blue;
  border-bottom: none;
}
#main-nav span {
  background: $color-white;
  position: relative;
  font-family: 'Raleway', sans-serif;
  margin: auto;
  text-align: center;
  border-bottom: none;
  padding: 0 15px;
}

//// Mobile navigation
#mobile-nav-container {
  display: none;
  position: absolute;
  color: $color-blue;
  font-family: 'Raleway', sans-serif;
  transition: top 300ms;
  top: -9.2em;
  border-bottom: 1px solid $color-yellow;
  left: 50%;
  transform: translateX(-50%);

}
#mobile-nav-container:hover {
  top: 0;
}
#mobile-nav-container:hover ~ #upper-logo {
  margin-top: 10em;
}
#upper-logo {
  transition: margin-top 300ms;
}
#mobile-nav {
  border-bottom: 1px solid $color-yellow;
}
#mobile-nav ul {
  margin: 0;
  padding: 0;
}
#mobile-nav li {
  list-style-type: none;
}
#mobile-nav-toggle {
  padding: 10px;
  user-select: none;
}

@media only screen and (max-width: 767px) {
  #main-nav-container {
    display: none;
  }
  #mobile-nav-container {
    display: block;
  }
}

// General
#canvas {
  margin: 100px auto;
  border-style: solid;
  border-width: 2px;
  border-color: $color-yellow;
  padding: 100px 100px 0;
  background-color: $color-white;
  max-width: 600px;
  width:100%
}
body {
  width: 100%;
  background-color: $color-gray;
}

@media only screen and (max-width: 1024px) {
  #canvas {
    margin: 0px auto;
    border-width: 0px !important;
    padding-left: 0;
    padding-right: 0;
  }
  body {
    background-color: $color-white;
  }
}

div {
  display: block;
}

// Content
.content-wrapper {
  margin-top: 60px;
  margin-bottom: 40px;
  opacity: 1;
  position: relative;
  color: $color-blue;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}
@media only screen and (max-width: 767px) {
  .content-wrapper {
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.solid-background {
  background-color: $color-light-gray;
  display: inline-block;
  margin: 20px;
  padding: 75px 60px;
  border: 2px solid $color-yellow;
  font-size: 20px;
  font-family: 'Stoke', serif;
}

#rsvp {
  display: inline-block;
  left: 50%;
  cursor: pointer;
  margin: 40px 0 0 0;
  background-color: $color-yellow;
  font-family: 'Stoke', serif;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 40px;
  color: $color-white;
}

#rsvp:hover {
  opacity: 0.5;
}

#dancing {
  max-width: 80px;
  margin: 40px;
}

.content-wrapper a {
  color: $color-yellow;
}

.content-wrapper iframe {
  margin: 20px 0;
  display: block;
}

.content-wrapper h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
}

.divider {
  border-bottom: 2px solid $color-yellow;
  width: 80%;
  margin: 40px auto;
}

.google-map {
  width: 100%;
  max-width: 600px;
  max-height: 450px;
  min-height: 300px;
  margin: 0;
}

#rsvp-form td {
  padding: 4px;
}
#rsvp-form input {
  border: none;
}

// Footer
#footer-wrapper {
  color: $color-dark-gray;
}
