$color-blue: #0011fa;
$color-yellow: #ecbf46;
$color-light-gray: #f8f8f8;
$color-dark-gray: #c8c8c8;
$color-gray: #f5f5f5;
$color-white: #ffffff;
$color-dark-green: #1d5f33;
$color-dark-green-transparent: #1d5f33bd;
$color-brown: #402f08;
$color-cream: #fff7e4;
$color-offwhite: #fbfbf8;

$text-color: $color-brown;
$title-color: $color-dark-green;
$canvas-background-color: $color-cream;
$border-color: $color-white;
$link-color: $color-blue;
$body-background: $color-offwhite;
$footer-font-color: $color-dark-green;

#upper-logo, #main-nav, #mobile-nav-container, #mobile-nav #mobile-nav-menu-button, #footer-wrapper  {
  width: 100%;
  text-align: center;
}
.logo a {
  color: $title-color;
  font-family: 'Stoke', serif;
  font-weight: bold;
}
.page-borders-thick #main-nav ul>li>a {
    border-bottom-width: 2px;
}

.page-collection a {
  color: $title-color;
}

.page-collection.active-page a {
  color: $text-color;
  //border-bottom: 4px solid $border-color;
  font-weight: bold;
}

// Site navigation
//// Main navigation
#main-nav-container {
  border-bottom: 4px solid $border-color;
  line-height: 0.1em;
  margin: 30px 0;
  width: 100%;
  text-align: center;
}
#main-nav {
  color: $title-color;
  border-bottom: none;
}
#main-nav span {
  background: $canvas-background-color;
  position: relative;
  font-family: 'Raleway', sans-serif;
  margin: auto;
  text-align: center;
  border-bottom: none;
  padding: 0 15px;
}

//// Mobile navigation
#mobile-nav-container {
  display: none;
  position: absolute;
  color: $title-color;
  font-family: 'Raleway', sans-serif;
  transition: top 300ms;
  top: -7.6em;
  border-bottom: 4px solid $border-color;
  left: 50%;
  transform: translateX(-50%);

}
#mobile-nav-container.menu-active {
  top: 0;
}
#mobile-nav-container.menu-active ~ #upper-logo {
  margin-top: 7.6em; // should match mobile-nav-container.top
}
#upper-logo {
  transition: margin-top 300ms;
}
#mobile-nav {
  border-bottom: 4px solid $border-color;
}
#mobile-nav ul {
  margin: 0;
  padding: 0;
}
#mobile-nav li {
  list-style-type: none;
}
#mobile-nav-toggle {
  padding: 10px;
  user-select: none;
}

@media only screen and (max-width: 767px) {
  #main-nav-container {
    display: none;
  }
  #mobile-nav-container {
    display: block;
  }
}

// General
#canvas {
  margin: 100px auto;
  border-style: solid;
  border-width: 2px;
  border-color: $border-color;
  padding: 100px 100px 0;
  background-color: $canvas-background-color;
  max-width: 600px;
  width:100%
}
body {
  width: 100%;
  background-color: $body-background;
}

@media only screen and (max-width: 1024px) {
  #canvas {
    margin: 0px auto;
    border-width: 0px !important;
    padding-left: 0;
    padding-right: 0;
  }
  body {
    background-color: $canvas-background-color;
  }
}

div {
  display: block;
}

// Content
.content-wrapper {
  margin-top: 60px;
  margin-bottom: 40px;
  opacity: 1;
  position: relative;
  color: $text-color;
  font-family: 'Raleway', sans-serif;
  text-align: justify;
}
@media only screen and (max-width: 767px) {
  .content-wrapper {
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

#home-page-text {
  position: relative;
  padding: 10px;
  margin: auto;
  font-weight: bold;
}

#photo-container {
  position: relative;
}

#photo-container img {
  animation-name: imageCrossFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-direction: alternate; /* not strictly necessary */
  border: 4px solid $border-color;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  &:nth-of-type(1) {
    animation-delay: 10s;
  }
  &:nth-of-type(2) {
    animation-delay: 8s;
  }
  &:nth-of-type(3) {
    animation-delay: 6s;
  }
  &:nth-of-type(4) {
    animation-delay: 4s;
  }
  &:nth-of-type(5) {
    animation-delay: 2s;
  }
  &:nth-of-type(6) {
    animation-delay: 0s;
  }
}

@keyframes imageCrossFade {
    /* distributing times evenly */
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.after-photo {
  margin-top: 400px;
}

.button {
  display: inline-block;
  left: 50%;
  cursor: pointer;
  background-color: $canvas-background-color;
  border: 4px solid $title-color;
  font-family: 'Stoke', serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  color: $title-color;
}

.button:hover {
  background-color: $color-dark-green-transparent;
}

#rsvp {
  margin: 400px 0 0 0;
  color: $title-color;
}

#rsvp-form {
  text-align: center;
}


#dancing {
  max-width: 80px;
  margin: 40px;
}

.content-wrapper a {
  color: $link-color;
}

.content-wrapper iframe {
  margin: 20px 0;
  display: block;
}

.content-wrapper h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
}

.divider {
  border-bottom: 4px solid $border-color;
  width: 80%;
  margin: 40px auto;
}

.google-map {
  width: 100%;
  max-width: 600px;
  max-height: 450px;
  min-height: 300px;
  margin: 0;
}

#rsvp-table {
  border: 2px solid $border-color;
  table-layout: fixed;
  padding: 100px 0;
}
#rsvp-table tr {
  border:none;
  background: none;
  vertical-align: top;
}
#rsvp-table td {
  padding: 4px;
  border:none;
  padding: 15px 15px;
}

#rsvp-table .prompt {
  text-align: right;
  color: $title-color;
  font-family: "Stoke", serif;
  font-size: 18px;
}

#rsvp-table .response {
  overflow: hidden;
}

#rsvp-table .text-input {
  color: $text-color;
  background: none;
  border: none;
  padding: 0;
  border-bottom: 2px solid $text-color;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
#rsvp-table .text-input:focus {
  outline: none;
}
.checkbox {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid $text-color;
  //border-radius: 75px;
  background: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;
  vertical-align: middle;
}

.checkbox:checked {
  background-color: $text-color;
}
.radio {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 2px solid $text-color;
  //border-radius: 75px;
  background: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;
  vertical-align: middle;
}
.radio:checked {
  background-color: $text-color;
}
// Footer
.site-footer {
  border-color: $border-color;
  border-width: 4px;
}
#footer-wrapper {
  color: $footer-font-color;
}

#footer-image {
  position: relative;
  max-width: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.registry-logo {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 6px solid $border-color;
}

.registry-logo img {
  display: inline-block;
  max-width: 300px;
}
